<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230746981037-gakl3cp3e8clp43bs04rj0jdna8a9k9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230746981037-gakl3cp3e8clp43bs04rj0jdna8a9k9r</string>
	<key>API_KEY</key>
	<string>AIzaSyALnGsnvmglK_KEcUvG9kxeUaMkmg__lho</string>
	<key>GCM_SENDER_ID</key>
	<string>230746981037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diamondplatform</string>
	<key>PROJECT_ID</key>
	<string>diamond-platform</string>
	<key>STORAGE_BUCKET</key>
	<string>diamond-platform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230746981037:ios:ee5a0ec63209d8f288fc24</string>
</dict>
</plist>